body,
html {
    margin: 0;
    background-color: #fafafa;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;


}

#container,
#bottomListContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}


#container {
    position: relative;
    width: 95%;
    height: 90%;
    border: 0.8px solid #000;
    margin: 0 auto;
}

#centeredContainer {
    position: absolute;



}

#mainTitle {
    font-size: 2.3em;
    font-weight: 300;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;

}


#bottomListContainer {
    position: absolute;
    bottom: 0;
    width: 95%;
    justify-content: space-evenly;
}

li {
    position: relative;
    list-style: none;
    font-size: 1.3em;
    font-weight: 200;
    cursor: pointer;
    transition: 0.3s linear;

}