@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    background-color: #C8CAC1;
    overflow-x: hidden;
}

@media only screen and (min-width : 1224px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
    }

    /*---TOP CONTENTS---*/

    .top_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
  

    }

    .main_title {
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }

    .small_left_menu,
    .small_right_menu {
        position: absolute;
        display: flex;
        flex-flow: row;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;

    }

    .small_left_menu {
        left: 50px;

    }

    .small_right_menu {
        right: 50px;
    }

    .about,
    .books,
    .donate {
        margin: 0;
        color: #fff;
    }

    .books {
        margin: 0px 30px;
    }

    /*---//  TOP CONTENTS---*/
    /*---MAIN CONTENTS---*/
    .main_contents {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        width: 100%;
        height: 50%;

        
    }

    .art_valut_title,
    .forbidden_unknown_title,
    .media_news_title,
    .podcasts_music_title,
    .podcasts_music,
    .socials,
    .github {
        position: relative;
        color: #fff;
        font-weight: 200;
        font-size: 72px;
        margin: 0;
        left: 50px;
    }

    .second_middle_wrap {
        width: 100%;

    }

    .media_news_title,
    .podcasts_music {
        left: 0;
    }

    .media_podcast_wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-left: 150px;

    }

    .middle_title_blurb {
        display: flex;

        flex-flow: row;
        
    }

    .main_blurb {
        position: relative;
        align-self: center;
        color: #7C7C7C;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        left: 50px;
        opacity: 0.8;
        margin: 0;


    }

    /*---//  MAIN CONTENTS---*/
    /*---BOTTOM CONTENTS---*/

    .bottom_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;


        
    }

    .quote_carousel {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .quotes {
        display: flex;
        text-align: center;
        font-size: 18px;
        font-weight: 600;

    }

    .quote_author {
        font-weight: 200;
        align-self: flex-end;
    }


    /*---//  BOTTOM CONTENTS---*/


}

/*---HOVERS AND SUCH---*/

.about:hover,
.books:hover,
.donate:hover {
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

/*---//  HOVERS AND SUCH---*/