@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    background-color: #C8CAC1;
    overflow-x: hidden;

}

* {
    cursor: crosshair;

}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 0%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 100;


}

.houdini {
    visibility: hidden;
    color: rgb(20, 20, 20);
}


.light_grey_bg {
    position: relative;
    width: 24.5%;
    background-color: rgba(128, 128, 128, 0.541);
}

@media only screen and (min-width : 1224px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        overflow: hidden;

    }

    /*------------**MAIN PAGE**------------*/
    /*---TOP CONTENTS---*/

    .top_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .main_title {
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }

    .small_left_menu,
    .small_right_menu {
        position: absolute;
        display: flex;
        flex-flow: row;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;

    }

    .small_left_menu {
        left: 50px;

    }

    .small_right_menu {
        right: 50px;
    }

    .about,
    .books,
    .donate {
        margin: 0;
        color: #fff;
    }

    .books {
        margin: 0px 30px;
    }

    /*---//  TOP CONTENTS---*/
    /*---MAIN CONTENTS---*/
    .main_contents {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        width: 100%;
        height: 50%;


    }

    .art_vault_title,
    .forbidden_unknown_title,
    .media_news_title,
    .podcasts_music_title,
    .podcasts_music,
    .socials,
    .github {
        position: relative;
        color: #fff;
        font-weight: 200;
        font-size: 72px;
        margin: 0;
        left: 50px;
        cursor: pointer;

    }

    .art_vault_title {
        display: flex;
    }

    .art_vault_cross,
    .fantastic_books_cross {
        position: absolute;
        height: 20px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
    }

    .second_middle_wrap {
        width: 100%;

    }

    .media_news_title,
    .podcasts_music {
        left: 0;
    }

    .media_podcast_wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-left: 150px;

    }

    .middle_title_blurb {
        display: flex;
        flex-flow: row;

    }

    .main_blurb {
        position: relative;
        align-self: center;
        color: #7C7C7C;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        left: 50px;
        opacity: 0.8;
        margin: 0;


    }

    /*---//  MAIN CONTENTS---*/
    /*---BOTTOM CONTENTS---*/

    .bottom_contents {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;


    }

    .bottom_art_carousel_wrap {
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;

    }

    .second_art_carousel {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0;
        bottom: -100%;
    }


    .new_images {
        width: 25%;
        height: 100%;

    }


    .quote_carousel {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .quotes {
        display: flex;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #7C7C7C;

    }

    .quote_author {
        font-weight: 200;
        align-self: flex-end;
    }


    /*---//  BOTTOM CONTENTS---*/
    /*------------//  **MAIN PAGE**------------*/


    /*------------**ART VAULT CONTENTS**------------*/

    .art_vault_contents {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    .art_carousel {
        position: relative;
        width: 100%;
        height: 50%;
        opacity: 0;
        display: flex;

    }

    .all_images {
        position: relative;
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .centered_imgs {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    /*------------//  **ART VAULT CONTENTS**------------*/
    /*------------**FANTASTIC BOOKS CONTENTS**------------*/


    .book_search_wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        visibility: hidden;

    }

    .book_search {
        position: relative;
        display: flex;
        flex-flow: column;
        width: 30%;
        height: 50%;
        opacity: 0;


    }

    .book_search_title {
        position: relative;
        left: 50px;
        font-size: 20px;
        font-weight: 200;
        text-transform: uppercase;


    }


    #search_field {
        position: relative;
        height: 50px;
        width: 500px;
        left: 50px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        font-size: 18px;
    }

    #search_button {
        position: relative;
        width: 150px;
        height: 50px;
        left: 50px;
        margin-top: 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        background: linear-gradient(145deg, #d6d8cf, #b4b6ae);
        box-shadow: 5px 5px 15px #aeb0a8,
            -5px -5px 15px #e2e4da;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
    }



    /*------------//  **FANTASTIC BOOKS CONTENTS**------------*/


}

/*---HOVERS AND SUCH---*/

.about:hover,
.books:hover,
.donate:hover {
    color: #000;
    transition: 0.1s;
}

#search_button:active {
    border-radius: 0px;
    background: linear-gradient(145deg, #b4b6ae, #d6d8cf);
    box-shadow: 5px 5px 15px #aeb0a8,
        -5px -5px 15px #e2e4da;

}

.art_vault_title:hover,
.forbidden_unknown_title:hover,
.media_news_title:hover,
.podcasts_music:hover,
.socials:hover,
.github:hover {
    filter: blur(5px);
    transition: 1s;
}




/*---//  HOVERS AND SUCH---*/